.create-announcement-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-announcement-container .header-with-back-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.create-announcement-container h1 {
    color: #26A69A;
    margin: 0;
}

.create-announcement-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.create-announcement-container input,
.create-announcement-container textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.create-announcement-container textarea {
    height: 100px;
    resize: vertical;
}

.create-announcement-container .create-button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #26A69A;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-announcement-container .create-button:hover {
    background-color: #00796B;
}

.create-announcement-container .back-button {
    background-color: #26A69A;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5em;
}

.create-announcement-container .back-button:hover {
    background-color: #00796B;
}
